/* svg ripped from https://jsfiddle.net/x7f84oub/ */

.curtains {
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
  background:transparent;
  position:fixed;
	inset:0;
  z-index:5;
	pointer-events:none;
}

.panel {
  position:absolute;
  top:0;
  width:50%;
  height:100%;
  background:#444;
  animation-duration:2s;
  animation-delay:0.25s;
  animation-fill-mode:forwards;
  animation-timing-function:ease-in-out;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'> <filter id='filter'> <feTurbulence baseFrequency='0.01 0.0001' numOctaves='5'/> <feColorMatrix values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1'/></filter> <rect width='100%' height='100%' filter='url(%23filter)'/> </svg>");

  /* background:url("curtains.jpg") center / cover no-repeat; */
}

.panel.left {
  left: 0;
  animation-name:openLeft;
}

.panel.right {
  right:0;
  animation-name:openRight;
}

@keyframes openLeft {
  to { transform:translateX(-100%); }
}

@keyframes openRight {
  to { transform:translateX(100%); }
}
