#hourglass {
    position: relative;
}

#hourglass-overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;

    background-image: url('../assets/images/Hourglass.png');
    background-size: contain;
    background-position: center;
}

#hourglass #sand {
    width: calc(175px * var(--hg-scale, 1));
    height: calc(300px * var(--hg-scale, 1));

    position: absolute;
    top: calc(100px * var(--hg-scale, 1));
    left: calc(188px * var(--hg-scale, 1));
    z-index: 0;

    overflow: hidden;

    filter: hue-rotate(340deg) saturate(0%) brightness(100%) contrast(120%);

}

#hourglass #top-container {
    width: 100%;
    height: 50%;
}

#hourglass #bottom-container {
    width: 100%;
    height: 50%;
}

#hourglass #sand-top {
    width: 90%;
    height: 100%;

    background-image: url('../assets/images/Sand.jpg');
}

#hourglass #sand-bottom {
    width: 90%;
    height: 100%;

    background-image: url('../assets/images/Sand.jpg');
}

#top-container, #bottom-container {
    position: relative;
    overflow: hidden;
}

#sand-top, #sand-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#grain-container {
    width: calc(10px * var(--hg-scale, 1));
    height: calc(256px * var(--hg-scale, 1));
    
    position: absolute;
    top: calc(150px * var(--hg-scale, 1));
    left: calc(70px * var(--hg-scale, 1));
    z-index: -1;

    overflow: hidden;
}

/*FALLING SAND*/

.sand-grain {
    position: absolute;
    width: calc(3px * var(--hg-scale, 1));
    height: calc(3px * var(--hg-scale, 1));
    background-color: #fc8eac;
    border-radius: 50%; 
    animation: fall linear infinite;
}

@keyframes fall {
    0% {transform: translateY(0px); opacity: 1;}
    90% {opacity: 1}
    100% {transform: translateY(calc(256px * var(--hg-scale, 1))); opacity: 0}
}

/*COUNTDOWN*/

#countdown-container {
    width: 512px;
    height: 100px;
}